/* Global variables */
:root {
    --main-background-color:    lightpink;
    --accent-background-color:  pink;
    --border-color:             hotpink;
    --field-color:              lightgoldenrodyellow;
    --drop-shadow-color:        powderblue;
    --main-font-color:          #222;  /* dark grey */
    --alert-button-color:       crimson;
    --comments-color:           honeydew;
    --preferred-fonts:          "American Typewriter", sans-serif;
}

html {
    font-family:            var(--preferred-fonts);
}

body {
    background-color:       var(--main-background-color);
    color:                  var(--main-font-color);
    background-size:        20px 20px;
    background-image:       linear-gradient(to right,   var(--accent-background-color) 1px, transparent 0),
    linear-gradient(to bottom,  var(--accent-background-color) 1px, transparent 0);
}

span[contenteditable=true], #windSelect {
    background:             white;
    border:                 1px inset var(--field-color);
    width:                  inherit;
    font-family:            inherit;
}

.funky {
    position:               relative;
    display:                inline-block;
    top:                    -11px;
    rotate:                 -28deg;
    right:                  0.6rem;
    font-size:              1rem;
}

fieldset {
    margin:                 1em;
    border-color:           var(--border-color);
    border-style:           solid;
    border-radius:          10px;
    border-width:           2px;
}

.aboutWalkData {
    padding:                1px 0.5rem 1px 0.5rem;
    background-color:       var(--field-color);
    border-radius:          5px;
    line-height:            1.35rem;
    white-space:            nowrap;
}

button, #species {
    border:                 none;
    font-family:            var(--preferred-fonts);
    background-color:       var(--field-color);
    border-radius:          5px;
    box-shadow:             7px 7px 0 1px var(--drop-shadow-color);
    line-height:            1rem;
}

button#toggleTransect {
    box-shadow: 7px 7px 0 1px var(--border-color);
}

button:active {
    color:                  var(--border-color);
    box-shadow:             7px 7px 0 1px var(--border-color);

}

.selectSection {
    background-color:       var(--field-color);
    display:                inline;
    border-radius:          6px;
    line-height:            1.75rem;
}

#clear {
    margin:                 3%;
    background-color:       var(--alert-button-color);
    color:                  var(--field-color);
    box-shadow:             7px 7px 0 1px var(--border-color);
}

table {
    box-shadow:             7px 7px 0 1px var(--drop-shadow-color);
    width:                  99%;
}

table, th, td {
    border:                 1px solid var(--main-background-color);
    background-color:       var(--field-color);
    border-radius:          9px;
    border-collapse:        collapse;
}

th {
    width: fit-content;
}


@media only screen and (max-width: 1089px) {

    h1 {
        margin:                 0.5em 0.5em 0;
    }

    h2 {
        margin-bottom:          1%;
    }

    #time {
        padding:                0 1rem 0 1rem;
        margin:                 0;
    }

    /* Interactive elements */

    dfn {
        font-size:              smaller;
    }

    button, #species {
        width:                  47%;
        margin:                 2% 1%;
        padding:                1%;
        line-height:            1rem;
    }

    select, #species {
        width:                  100%;
        padding:                3%;
    }

    .selectSection {
        margin:                 0.5%;
        border-radius:          6px;
        padding:                1.2%;
        white-space:            nowrap;
    }

    /* Presenting data */

    table {
        margin:                 3% 0;
    }

    table, th, td {
        text-align:             center;
        padding:                1px;
    }

    th {
        font-size:              75%;
    }

    td {
        height:            2rem;
    }
}

@media only screen and (min-width: 1090px) {

    :root {
        --main-background-color:    powderblue;
        --accent-background-color:  aliceblue;
        --border-color:             lightgoldenrodyellow;
        --field-color:              pink;
        --drop-shadow-color:        lightgoldenrodyellow;
        --alert-button-color:       crimson;
    }

    body {
        margin:                     0 0 0 10%;
    }

    .aboutWalkData {
        padding:                    0.5rem 0.5rem 0.5rem 0.5rem;
        line-height:                3rem;
    }

    button, select, start, stop {
        width:                      61%;
        margin:                     1rem 0.5rem;
        padding:                    0.5rem;
    }

    select,table {
        width:                      90%;
    }

    #recording {
        display:                    flex;
        justify-content:            space-evenly;
        align-items:                flex-start;
        align-content:              flex-start;
        gap:                        1rem;
    }

    #walkData:empty {
        display:                    none;
    }

    #clear {
        width:                      25%;
        box-shadow:                 7px 7px 0 1px hotpink;
        color:                      var(--drop-shadow-color);
    }

    #walkData {
        background-color:           var(--accent-background-color);
        border-radius:              5px;
        padding:                    1rem;
        background-size:            3rem 1.5rem;
        background-image:           linear-gradient(to bottom,  var(--main-background-color) 1px, transparent 0);
        box-shadow:                 7px 7px 0 1px var(--field-color);
        width:                      100%;
    }

    .funky {
        font-size:                  2rem;
    }

    .flexItem {
        width:                      30%;
        margin:                     0 1%;
    }

    fieldset {
        display:                    flex;
        background:                 rgb(176,224,230,0.4); /* main-accent-color with transparency */
    }

    .selectSection {
        padding:                    1%;
        text-align:                 center;
        margin:                     0.25rem;
        width:                      fit-content;
    }

    td {
        padding:                    0.25rem 0.25rem 0.25rem 1rem;
        background-color:           var(--accent-background-color) ;
        border-radius:              1px;
    }

}

#commentText {
    width:                          90%;
    position:                       fixed;
    height:                         50%;
    left:                           4%;
    bottom:                         25%;
    opacity:                        90%;
    background-color:               var(--comments-color);
    border:                         var(--border-color) 3px solid;
    border-radius:                  11px;
    text-align:                     start;
    line-height:                    normal;
    resize:                         none;
}

.commentButton {
    position:                       fixed;
    bottom:                         28%;
    right:                          8%;
}

#discardComment {
    bottom:                         32%;
    margin-bottom:                  4%;
}
