/* Global variables */
:root {
    --main-background-color:    lightpink;
    --accent-background-color:  pink;
    --border-color:             hotpink;
    --field-color:              lightgoldenrodyellow;
    --drop-shadow-color:        powderblue;
    --main-font-color:          #222;  /* dark grey */
    --alert-button-color:       crimson;
}


@media only screen and (max-width: 1089px) {
    html {
        font-family: "American Typewriter";
    }

    fieldset {
        margin: 1em;
        border-color: var(--border-color);
        border-style: solid;
        border-radius: 10px;
    }

    button, #species {
        width: 47%;
        margin: 2% 1%;
        background-color: var(--field-color);
        border-radius: 5px;
        box-shadow: 7px 7px 0px 1px var(--drop-shadow-color);
        border: none;
        font-family: "American Typewriter";
        padding: 1%;

    }

    table {
        box-shadow: 7px 7px 0px 1px var(--drop-shadow-color);
        margin: 3% 0;
        width: 100%;
    }

    select, #species {
        width: 100%;
        padding: 3%;
    }


    table, th, td {
        border: 1px solid var(--main-background-color);
        border-collapse: collapse;
        text-align: center;
        padding: 2px;
        background-color: var(--field-color);
        border-radius: 9px;
    }

    th {
        font-size: 75%;
    }

    body {
        background-color: var(--main-background-color);
        color: var(--main-font-color);
        background-size: 20px 20px;
        background-image: linear-gradient(to right, var(--accent-background-color) 1px, transparent 0px),
        linear-gradient(to bottom, var(--accent-background-color) 1px, transparent 0px);
    }


    h2 {
        margin-bottom: 1%;
    }

    .selectSection {
        background-color: var(--field-color);
        display: inline;
        margin: 0.5%;
        border-radius: 6px;
        padding: 1.2%;
    }

    #clear {
        margin: 3%;
        background-color: var(--alert-button-color);
        color: var(--field-color);
        box-shadow: 7px 7px 0px 1px var(--border-color);

    }
}


@media only screen and (min-width: 1090px) {


    fieldset {
        margin: 1em;
    }


    button {
        width: 47%;
        margin: 2% 1%;
    }


    select {
        width: 100%;
    }


    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
}